:root{
    --scythian-color-background: rgba(71, 219, 184, 0.8);
    --scythian-color: rgba(71, 219, 184, 1);
    --scythian-color-navigation: rgba(42, 42, 42, 1);
    --shadow-color: rgba(0, 99, 78, 0.7);
    --shadow-color-2: rgba(0, 0, 0, 0.7);
    --font-color-1: rgba(42, 42, 42, 1);
    --font-color-2: rgba(255, 255, 255, 1);
    --background-color-1: rgba(42, 42, 42, 0.5);
    --background-color-2: rgba(230, 230, 230, 0.5);
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
    list-style: none;
    text-decoration: none;
}

.m-4{
    margin-top: 0px!important;
}

.container-fluid{
    background-color: var(--scythian-color-background);
    padding:2%;
}

nav{
    box-shadow: 0px 10px 18px var(--shadow-color-2);
    margin-bottom:0px;
}

#navigation{
    padding:1% 5%;
    background-color: var(--scythian-color-background);
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    margin-bottom: 0;
}

#navigation a{
    color: var(--scythian-color-navigation);
    margin-left: 60px;
    font-size: 2.5vh;
    font-weight: 600;
    border-bottom: 2px solid transparent;
    transition: all .55s ease;
    text-decoration: none;
    text-shadow: 1.25px 2.5px 3px var(--shadow-color);
}

#navigation a:hover{
    transform: translateX(-0.4rem);
    transition: all .55s ease;
}

#body{
    background: url("/images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height:100vh;
    min-width: fit-content;
    padding: 0% 5%;
}

#header{
    background: url("/images/header.jpg");
    background-size: cover;
    height:250px;
    width: 100%;
    background-repeat: no-repeat;
    background-position-y: 65%;
}

#header img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
}

#main{
    padding: 2% 10%;
    transition: all .55s ease;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    box-shadow: 0px -10px 18px var(--shadow-color-2);
}

#coat-main{
    box-shadow: 0px 20px 20px var(--shadow-color-2);
    border-radius: 90%;
    border: 2px solid;
    background-color: var(--font-color-1);
    border-color: var(--scythian-color);
}

#logo{
    font-family: 'Fondamento'!important;
    font-size: 4vh!important;
    font-weight: 700!important;
    text-decoration: overline!important;
    transition: all .55s ease!important;
    padding-top: 2rem!important;
}

#logo:hover{
    transform: translateX(0.4rem)!important;
    transition: all .55s ease!important;
}

#hero-img {
    padding:0%;
    background-color: var(--background-color-2);
    padding:2%;
    border-radius: 30px;
    box-shadow: 5px 10px 18px var(--shadow-color)!important;
    width:100%;
    height: auto;
}

#hero-img img{
    width:100%;
    height: auto;
}

#hero-text{
    background-color: var(--background-color-2);
    padding:2%;
    border-radius: 30px;
    box-shadow: -5px 10px 18px var(--shadow-color);
    height: fit-content;
}

#hero-text h1{
    font-weight: 700;
    font-size: 7vh;
    line-height: 1;
    color: var(--font-color-1);
    margin: 0 0 45px;
    text-shadow: 1.25px 2.5px 3px var(--shadow-color);
}

#hero-text h4{
    font-size: 3vh;
    font-weight: 600;
    color: var(--font-color-1);
    margin-bottom: 40px;
}

#hero-text h5{
    font-size: 2.5vh;
    font-weight: 400;
    color: var(--font-color-1);
    margin-bottom: 5px;
}

#hero-text p{
    color: var(--font-color-1);
    font-size: 1.5vh;
    line-height: 1.9;
    margin-bottom: 40px;
}

#hero-text .btn-danger{
    margin:0 4% 0 0;
    padding: 1.5% 4%;
    font-weight: 700;
    font-size: 20px;
    color: var(--font-color-1);
    background-color: var(--scythian-color);
    border: 2px solid;
    border-color: var(--font-color-1);
    transition: all .55s ease;
}

#hero-text .btn-danger:hover{
    transform: translateY(-0.4rem);
    transition: all .55s ease;
}

#hero-text .btn-outline-danger{
    margin:0 4% 0 0;
    padding: 1.5% 4%;
    font-weight: 700;
    font-size: 20px;
    color: var(--font-color-1);
    background-color: transparent;
    border: 2px solid;
    border-color: var(--font-color-1);
    transition: all .55s ease;
}

#hero-text .btn-outline-danger:hover{
    transform: translateY(-0.4rem);
    transition: all .55s ease;
}

#toggler{
    font-size: 3vh;
    padding:20%;
    color: var(--font-color-1);
    border: solid 1px;
    border-radius: 10px;
}

.navbar-toggler-icon {
display: inline-flex;
width: auto;
height: auto;
}

.nation-all {
    display: flex;
    height: 5%;
    justify-content: center;
    padding: 0.5% 20%;
}

.nation{
    display: inline;
    margin:auto;
}

.nation img{
    height: 100%;
    transition: all .55s ease;
}

.nation img:hover{
    transform: translateY(-0.4rem);
    transition: all .55s ease;
    box-shadow: 0px 20px 20px var(--shadow-color-2);
    border-radius: 90%;
    border: 2px solid;
    background-color: transparent;
    border-color: transparent;
}

.navbar-toggler:focus {
    box-shadow: none;
}

@media (max-width:1600px){
    #main{
        padding: 2% 2.5%;
        transition: all .55s ease;
    }

    .m-4{
        margin: 0rem!important;
        transition: all .55s ease;
    }

    .container-fluid {
        padding: 2% 0%;
    }

    #hero-text {
        border-radius: 10px;
    }

    #hero-img .fade-in {
        border-radius: 10px;
    }

    #body {
        padding: 0%;
    }

    #body > div > nav {
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
    }
}