* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
    list-style: none;
    text-decoration: none;
}

.m-4{
    margin-top: 0px!important;
}

.navbar{
    margin-bottom:0px;
}

nav{
    box-shadow: 0px 10px 18px black;
    margin-bottom:0px;
}

#navbarCollapse > div > a{
    color: white;
    margin-left: 60px;
    font-size: 2.5vh;
    font-weight: 600;
    border-bottom: 2px solid transparent;
    transition: all .55s ease;
    text-shadow: 2.5px 5px 9px black;
    text-decoration: none;
}

#navbarCollapse > div > a:hover{
    transform: translateX(-0.4rem);
    transition: all .55s ease;
}

#navbarCollapse > div > a:nth-child(1):hover{
    text-decoration: overline;
    transition: all .55s ease;
}

#navbarCollapse > div > a:nth-child(2):hover{
    text-decoration: overline;
    transition: all .55s ease;
}

#navbarCollapse > div > a:nth-child(3):hover{
    text-decoration: overline;
    transition: all .55s ease;
}

#body > div > nav{
    padding:1% 5%;
    background-color: rgba(21, 17, 88, 0.8);
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

#navbarCollapse > div > a > img{
    height: 30px;
}

#body{
    background: url("/images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height:100vh;
    min-width: fit-content;
    padding: 0% 5%;
}

#header{
    background: url("/images/header.jpg");
    background-size: cover;
    height:250px;
    width: 100%;
    background-repeat: no-repeat;
    background-position-y: 65%;
}

#header img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
}

#main{
    padding: 5% 10%;
    transition: all .55s ease;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    box-shadow: 0px -10px 18px black;
}

#logo{
    font-family: 'Fondamento';
    font-size: 4vh;
    font-weight: 700;
    color: white;
    text-decoration: overline;
    background-color: transparent;
    transition: all .55s ease;
    padding-top: 2rem;
    text-shadow: 2.5px 5px 9px black;
}

#logo:hover{
    transform: translateX(0.4rem);
    transition: all .55s ease;
}

#hero-img {
    padding:0%;
}

#hero-img .fade-in {
    background-color: rgba(255, 255, 255, 0.425);
    padding:2%;
    border-radius: 30px;
    box-shadow: 5px 10px 18px black;
    width:100%;
    height: auto;
}

#hero-img .fade-in img{
    width:100%;
    height: auto;
}

#hero-text h1{
    font-weight: 700;
    font-size: 7vh;
    line-height: 1;
    color: black;
    margin: 0 0 45px;
    text-shadow: 1.25px 2.5px 3px black;
}

#hero-text h5{
    font-size: 2.5vh;
    font-weight: 400;
    color: black;
    margin-bottom: 5px;
}

#hero-text h4{
    font-size: 3vh;
    font-weight: 600;
    color: black;
    margin-bottom: 40px;
}

#hero-text p{
    color: black;
    font-size: 1.5vh;
    line-height: 1.9;
    margin-bottom: 40px;
}

#hero-text{
    background-color: rgba(255, 255, 255, 0.425);
    padding:2%;
    border-radius: 30px;
    box-shadow: 5px 10px 18px black;
    height: fit-content;
}

#hero-text .btn-danger{
    margin:0 4% 0 0;
    padding: 1.5% 4%;
    font-weight: 700;
    font-size: 20px;
    background-color: rgba(21, 17, 88, 1);
    border: 0px solid;
    transition: all .55s ease;
}

#hero-text .btn-danger:hover{
    transform: translateY(-0.4rem);
    transition: all .55s ease;
}

#hero-text .btn-outline-danger{
    margin:0 4% 0 0;
    padding: 1.5% 4%;
    font-weight: 700;
    font-size: 20px;
    color: black;
    background-color: transparent;
    border: 2px solid;
    border-color: black;
    transition: all .55s ease;
}

#hero-text .btn-outline-danger:hover{
    transform: translateY(-0.4rem);
    transition: all .55s ease;
}

#buy-sell > div{
    padding:1% 1%;
}

#buy-sell > div > div > button{
    height: 5rem;
}

#buy-sell img{
    width:100%;
    box-shadow: 5px 10px 18px black;
    border-radius: 30px;
}

#buy-sell h4{
    font-size: 2.5vh;
    font-weight: 600;
    color: white;
    text-align: center;
    padding:2%;
    border-radius: 30px;
    text-decoration: overline;
    text-shadow: 2.5px 5px 9px black;
}

.container-fluid{
    background-color: rgba(21, 17, 88, 0.8);
    padding:2%;
}

#main > div > h1{
    font-weight: 700;
    font-size: 5vh;
    line-height: 1;
    color: white;
    margin: 0 0 45px;
    text-align: center;
    text-shadow: 2.5px 5px 9px black;
}

#buy-sell > div > p{
    color: white;
    font-size: 1.5vw;
    line-height: 1.9;
    margin-bottom: 40px;
}

#buy-sell .btn-danger{
    margin:0 1% 1% 0;
    padding: 0% 2%;
    font-weight: 700;
    font-size: 1.5vh;
    background-color: rgb(21, 17, 88, 1);
    border: 0px solid;
    transition: all .55s ease;
}

#buy-sell .btn-danger:hover{
    transform: translateY(-0.4rem);
    transition: all .55s ease;
}

#buy-sell .btn-outline-danger{
    margin:0 1% 1% 0;
    padding: 0% 2%;
    font-weight: 500;
    font-size: 1.5vh;
    color: white;
    background-color: transparent;
    border: 2px solid;
    border-color: white;
    transition: all .55s ease;
}

#buy-sell .btn-outline-danger:hover{
    transform: translateY(-0.4rem);
    transition: all .55s ease;
}

.input-group {
    display:block;
}

#body > div > nav > button > span{
    font-size: 3vh;
    padding:20%;
    color: white;
    border: solid 1px;
    border-radius: 10px;
}

.navbar-toggler-icon {
display: inline-flex;
width: auto;
height: auto;
}

.nation-all {
    display: flex;
    height: 5%;
    justify-content: center;
    padding: 0.5% 20%;
}

.nation{
    display: inline;
    margin:auto;
}

.nation img{
    height: 100%;
    transition: all .55s ease;
}

.nation img:hover{
    transform: translateY(-0.4rem);
    transition: all .55s ease;
}

.navbar-toggler:focus {
    box-shadow: none;
}

@media (max-width:1600px){
    #main{
        padding: 2% 2.5%;
        transition: all .55s ease;
    }

    .m-4{
        margin: 0rem!important;
        transition: all .55s ease;
    }

    .container-fluid {
        padding: 2% 0%;
    }

    #hero-text {
        border-radius: 10px;
    }

    #hero-img .fade-in {
        border-radius: 10px;
    }

    #body {
        padding: 0%;
    }

    #body > div > nav {
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
    }
}